// Start Top Navbar
nav {
  padding: 4px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: var(--firstBgColor);
  color:var(--textColor);
  border-bottom:1px solid var(--borderColor);
  transition:top 1s ease-in-out;
  .top-nav-bar {
    margin: auto;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-icon {
      font-size: 23px;
      color: var(--borderColor);
      padding: 3px;
      border-radius: 10px;
      cursor: pointer;
    }
    .text {
      text-transform: uppercase;
      display: block;
      font-size: 18px !important;
      margin: 0px;
      position: relative;
      color:var(--textColor);
      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: -14px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--borderColor);
      }
    }
  }
}
// End Top Navbar
