// Start Experiences Section
.experiences {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .experiences-content {
    .image {
      background-image: url("../assets/img/profile/3.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: 100%;
      border: 1px solid var(--borderColor);
      border-radius: 10px 0px 0px 10px;
      overflow: hidden;
      a {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        background-color: var(--secondBgColor);
        color: var(--borderColor);
        font-size: 1.5rem;
        text-align: center;
        padding: 7px;
        text-decoration: none; 
        transition:all .4s ease-in-out;
        &:hover{
          background-color: var(--borderColor);
        color: var(--secondBgColor);
        }   
      }
    }
    .slick-slider {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--firstBgColor);
      border: 1px solid var(--borderColor);
      border-left: none;
      border-radius: 0px 10px 10px 0px;
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        bottom: 10px;
        li {
          button {
            &:before {
              font-size: 15px;
              color: var(--borderColor);
            }
          }
        }
      }
      .experiences-container {
        padding: 20px 0px;
        position: relative;
        text-align: end;
        overflow: hidden;
        &:before {
          content: "";
          width: 1px;
          background-color: var(--borderColor);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          right: 50%;
        }
        .content {
          padding: 0px 10px;
          color:var(--grayColor);
          h3 {
            color:var(--textColor);
            font-size: 1.5rem;
            span{
              font-size: 1rem;
            }
          }
          .date {
            margin: 10px 0px;
          }
          .brdr {
            height: 1px;
            width: 100%;
            background-color: var(--borderColor);
            width: 100%;
            margin-top: 0.8rem;
            margin-bottom: 1rem;
          }
          ul{
            padding: 0px 20px;
            line-height: 20px;
            text-align: left;
            li{
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
// End Experiences Section
