:root {
  --firstBgColor:#fff;
  --secondBgColor:#e4e4e4;
  --borderColor: #09c;
  --textColor:#000;
}
.dark {
  --firstBgColor:#000;
  --secondBgColor:#121212;
  --borderColor: #f57201;
  --textColor:#fff;
  --grayColor: #ddd;
}
