:root {
  --firstBgColor:#fff;
  --secondBgColor:#e4e4e4;
  --borderColor: #09c;
  --textColor:#000;
}

.dark {
  --firstBgColor:#000;
  --secondBgColor:#222;
  --borderColor: #f57201;
  --textColor:#fff;
  --grayColor: #ddd;
}

nav {
  padding: 4px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: var(--firstBgColor);
  color: var(--textColor);
  border-bottom: 1px solid var(--borderColor);
  -webkit-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out;
}

nav .top-nav-bar {
  margin: auto;
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .top-nav-bar .nav-icon {
  font-size: 23px;
  color: var(--borderColor);
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

nav .top-nav-bar .text {
  text-transform: uppercase;
  display: block;
  font-size: 18px !important;
  margin: 0px;
  position: relative;
  color: var(--textColor);
}

nav .top-nav-bar .text:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--borderColor);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  -webkit-transition: bottom 1s ease-in-out;
  transition: bottom 1s ease-in-out;
}

.navbar ul {
  background-color: var(--firstBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin: 0px !important;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 450px;
  padding: 7px;
}

.navbar ul li {
  position: relative;
  cursor: pointer;
}

.navbar ul li:hover .my-tooltip {
  opacity: 1;
}

.navbar ul li .my-tooltip {
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: -30px;
  right: -65%;
  border-radius: 5px;
  font-size: 13px;
  background-color: var(--borderColor);
  width: 90px;
  text-align: center;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.navbar ul li .my-tooltip::before {
  content: "";
  position: absolute;
  left: 42%;
  top: 65%;
  background-color: var(--borderColor);
  padding: 5px;
  rotate: 137deg;
  z-index: -1;
}

.navbar ul li img {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  width: 100%;
  width: 40px;
  height: 40px;
  padding: 3px 3px;
}

.navbar ul li img:hover {
  -webkit-animation-name: iconMove;
          animation-name: iconMove;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-content .home-caption {
  border: 2px dashed var(--borderColor);
  height: 100%;
  padding-bottom: 20px;
}

.home .home-content .home-caption .caption-top {
  background-color: var(--firstBgColor);
  color: var(--textColor);
  padding: 25px;
  border-radius: 5px;
}

.home .home-content .home-caption .caption-top span {
  font-size: 1.5rem;
  font-weight: bold;
}

.home .home-content .home-caption .caption-top h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.home .home-content .home-caption .caption-top h1 span {
  color: var(--borderColor);
}

.home .home-content .home-caption .caption-top p {
  padding-left: 10px;
  color: var(--grayColor);
  font-size: 14px;
}

.home .home-content .home-image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-content .home-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 19%;
}

.education {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .education-content .image {
  background-image: url("../assets/img/profile/3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.education .education-content .image h2 {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  background-color: var(--firstBgColor);
  color: var(--textColor);
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.education .education-content .slick-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--firstBgColor);
  border: 1px solid var(--borderColor);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

.education .education-content .slick-slider .slick-arrow {
  display: none !important;
}

.education .education-content .slick-slider .slick-dots {
  bottom: 10px;
}

.education .education-content .slick-slider .slick-dots li button:before {
  font-size: 15px;
  color: var(--borderColor);
}

.education .education-content .slick-slider .education-container {
  padding: 50px 0px;
  position: relative;
  text-align: end;
  overflow: hidden;
}

.education .education-content .slick-slider .education-container:before {
  content: "";
  width: 1px;
  background-color: var(--borderColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.education .education-content .slick-slider .education-container .content {
  padding: 0px 10px;
  color: var(--grayColor);
}

.education .education-content .slick-slider .education-container .content h3 {
  color: var(--textColor);
  font-size: 1.5rem;
}

.education .education-content .slick-slider .education-container .content h3 span {
  font-size: 1rem;
}

.education .education-content .slick-slider .education-container .content .date {
  margin: 10px 0px;
}

.education .education-content .slick-slider .education-container .content .brdr {
  height: 1px;
  width: 100%;
  background-color: var(--borderColor);
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.education .education-content .slick-slider .education-container .content ul {
  padding: 0px 20px;
  line-height: 20px;
  text-align: left;
}

.education .education-content .slick-slider .education-container .content ul li {
  margin-bottom: 5px;
}

.skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills-content {
  background-color: var(--firstBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  overflow: hidden;
}

.skills .skills-content .one-skill {
  padding: 40px 0px;
  border-left: 1px solid var(--borderColor);
  text-align: center;
}

.skills .skills-content .one-skill h3 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 20px;
  position: relative;
  text-transform: capitalize;
  color: var(--textColor);
}

.skills .skills-content .one-skill h3:after {
  content: "";
  height: 1px;
  width: 60%;
  background-color: var(--borderColor);
  position: absolute;
  top: 100%;
  left: 20%;
  right: 20%;
}

.skills .skills-content .one-skill .one-skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.skills .skills-content .one-skill .one-skill-content div {
  width: 50%;
  padding: 10px;
  font-size: 2.9rem;
}

.skills .skills-content .personal .one-skill-content {
  display: block;
  text-align: start;
  color: var(--grayColor);
}

.skills .skills-content .personal .one-skill-content li {
  padding-top: 7px;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 25px;
}

.portfolio {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-content {
  border: 1px solid var(--borderColor);
  overflow: hidden;
  border-radius: 10px;
}

.portfolio .portfolio-content .caption {
  background-color: var(--firstBgColor);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0px 10px;
}

.portfolio .portfolio-content .caption h2 {
  color: var(--textColor);
  font-size: 1.3rem;
  width: 270px;
  font-weight: 600;
  text-align: center;
  position: relative;
  height: 50px;
}

.portfolio .portfolio-content .caption h2:before {
  content: "|";
  position: absolute;
  top: 0;
  left: 25px;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.portfolio .portfolio-content .caption .social-links-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 15px;
}

.portfolio .portfolio-content .caption .social-links-container .social-links {
  gap: 10px;
}

.portfolio .portfolio-content .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.portfolio .portfolio-content .slick-slider .slick-arrow {
  display: none !important;
}

.portfolio .portfolio-content .slick-slider .slick-dots {
  bottom: 10px;
}

.portfolio .portfolio-content .slick-slider .slick-dots li button:before {
  font-size: 15px;
  color: var(--borderColor);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content {
  border: 1px solid var(--borderColor);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .image-container img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--firstBgColor);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption h3 {
  font-size: 1.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin: 0;
  color: var(--textColor);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: var(--grayColor);
  -webkit-transition: -webkit-transform 0.6s 0.2s;
  transition: -webkit-transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s, -webkit-transform 0.6s 0.2s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links {
  position: absolute;
  top: 0;
  left: 17px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a {
  text-decoration: none;
  color: #000;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a div {
  background-color: #fff;
  padding: 7px 14px;
  font-size: 20px;
  border: 1px solid var(--borderColor);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a div:hover {
  background-color: var(--borderColor);
  border: 1px solid var(--borderColor);
  color: var(--whiteColor);
  -webkit-animation-name: links-animation;
          animation-name: links-animation;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px 18px;
  background-color: var(--firstBgColor);
  color: var(--grayColor);
  border-top: 1px solid var(--borderColor);
  -webkit-transition: bottom 0.6s ease-in-out;
  transition: bottom 0.6s ease-in-out;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities p {
  line-height: 25px;
  margin: 0px;
  font-size: 0.9rem;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities p span {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .layer {
  opacity: 0.7;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .content-caption h3 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .content-caption p {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .project-links {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .utilities {
  bottom: 0;
}

.experiences {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiences .experiences-content .image {
  background-image: url("../assets/img/profile/3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.experiences .experiences-content .image a {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--secondBgColor);
  color: var(--borderColor);
  font-size: 1.5rem;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.experiences .experiences-content .image a:hover {
  background-color: var(--borderColor);
  color: var(--secondBgColor);
}

.experiences .experiences-content .slick-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--firstBgColor);
  border: 1px solid var(--borderColor);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

.experiences .experiences-content .slick-slider .slick-arrow {
  display: none !important;
}

.experiences .experiences-content .slick-slider .slick-dots {
  bottom: 10px;
}

.experiences .experiences-content .slick-slider .slick-dots li button:before {
  font-size: 15px;
  color: var(--borderColor);
}

.experiences .experiences-content .slick-slider .experiences-container {
  padding: 20px 0px;
  position: relative;
  text-align: end;
  overflow: hidden;
}

.experiences .experiences-content .slick-slider .experiences-container:before {
  content: "";
  width: 1px;
  background-color: var(--borderColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.experiences .experiences-content .slick-slider .experiences-container .content {
  padding: 0px 10px;
  color: var(--grayColor);
}

.experiences .experiences-content .slick-slider .experiences-container .content h3 {
  color: var(--textColor);
  font-size: 1.5rem;
}

.experiences .experiences-content .slick-slider .experiences-container .content h3 span {
  font-size: 1rem;
}

.experiences .experiences-content .slick-slider .experiences-container .content .date {
  margin: 10px 0px;
}

.experiences .experiences-content .slick-slider .experiences-container .content .brdr {
  height: 1px;
  width: 100%;
  background-color: var(--borderColor);
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.experiences .experiences-content .slick-slider .experiences-container .content ul {
  padding: 0px 20px;
  line-height: 20px;
  text-align: left;
}

.experiences .experiences-content .slick-slider .experiences-container .content ul li {
  margin-bottom: 5px;
}

.contact-me {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me .content {
  border: 2px dashed var(--borderColor);
}

.contact-me .content .caption {
  background-color: var(--firstBgColor);
  padding: 25px;
  height: 100%;
  padding-bottom: 20px;
}

.contact-me .content .caption h3,
.contact-me .content .caption h4 {
  color: var(--textColor);
  text-transform: uppercase;
  font-size: 2rem;
}

.contact-me .content .caption p {
  line-height: 30px;
  padding-left: 10px;
  color: var(--grayColor);
  font-size: 14px;
}

.contact-me .form {
  padding-left: 10px;
}

.contact-me .form .form-control {
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-me .form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid var(--borderColor);
}

.contact-me .form .form-control::-webkit-input-placeholder {
  text-transform: uppercase;
}

.contact-me .form .form-control:-ms-input-placeholder {
  text-transform: uppercase;
}

.contact-me .form .form-control::-ms-input-placeholder {
  text-transform: uppercase;
}

.contact-me .form .form-control::placeholder {
  text-transform: uppercase;
}

.contact-me .form textarea {
  min-height: 140px;
  max-height: 140px;
}

.contact-me .form button {
  border: 1px solid var(--borderColor);
  background-color: var(--firstBgColor);
  color: var(--textColor);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-me .form button:hover {
  background-color: var(--borderColor);
  border: 1px solid var(--firstBgColor);
  color: #000;
}

.portfolio {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-content {
  border: 1px solid var(--borderColor);
  overflow: hidden;
  border-radius: 10px;
}

.portfolio .portfolio-content .caption {
  background-color: var(--firstBgColor);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0px 10px;
}

.portfolio .portfolio-content .caption h2 {
  color: var(--textColor);
  font-size: 1.3rem;
  width: 270px;
  font-weight: 600;
  text-align: center;
  position: relative;
  height: 50px;
}

.portfolio .portfolio-content .caption h2:before {
  content: "|";
  position: absolute;
  top: 0;
  left: 25px;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.portfolio .portfolio-content .caption .social-links-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 15px;
}

.portfolio .portfolio-content .caption .social-links-container .social-links {
  gap: 10px;
}

.portfolio .portfolio-content .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.portfolio .portfolio-content .slick-slider .slick-arrow {
  display: none !important;
}

.portfolio .portfolio-content .slick-slider .slick-dots {
  bottom: 10px;
}

.portfolio .portfolio-content .slick-slider .slick-dots li button:before {
  font-size: 15px;
  color: var(--borderColor);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content {
  border: 1px solid var(--borderColor);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .image-container img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--firstBgColor);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption h3 {
  font-size: 1.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin: 0;
  color: var(--textColor);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .content-caption p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: var(--grayColor);
  -webkit-transition: -webkit-transform 0.6s 0.2s;
  transition: -webkit-transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s, -webkit-transform 0.6s 0.2s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links {
  position: absolute;
  top: 0;
  left: 17px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a {
  text-decoration: none;
  color: #000;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a div {
  background-color: #fff;
  padding: 7px 14px;
  font-size: 20px;
  border: 1px solid var(--borderColor);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .project-links a div:hover {
  background-color: var(--borderColor);
  border: 1px solid var(--borderColor);
  color: var(--whiteColor);
  -webkit-animation-name: links-animation;
          animation-name: links-animation;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px 18px;
  background-color: var(--firstBgColor);
  color: var(--grayColor);
  border-top: 1px solid var(--borderColor);
  -webkit-transition: bottom 0.6s ease-in-out;
  transition: bottom 0.6s ease-in-out;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities p {
  line-height: 25px;
  margin: 0px;
  font-size: 0.9rem;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content .utilities p span {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .layer {
  opacity: 0.7;
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .content-caption h3 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .content-caption p {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .project-links {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.portfolio .portfolio-content .slick-slider .portfolio-container .content:hover .utilities {
  bottom: 0;
}

.social-links {
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  gap: 30px;
}

.social-links li {
  background-color: #fff;
  border: 1px solid var(--borderColor);
  padding: 7px;
  font-size: 2rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.social-links li a {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.loading .layer {
  background-color: var(--borderColor);
  position: absolute;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.loading .caption {
  z-index: 20;
  text-align: center;
  position: relative;
  padding: 15px 25px;
  overflow: hidden;
}

.loading .caption:after, .loading .caption:before {
  content: "";
  position: absolute;
  height: 5px;
  top: 0%;
  bottom: 95%;
  width: 100%;
  background-color: var(--firstBgColor);
  border-radius: 10px;
  -webkit-animation-name: afterAnimation;
          animation-name: afterAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loading .caption:before {
  top: 95%;
  bottom: 0%;
  -webkit-animation-name: beforeAnimation;
          animation-name: beforeAnimation;
}

.loading .caption .image-container {
  width: 80px;
  height: 80px;
  margin: auto;
}

.loading .caption .image-container img {
  width: 100%;
  height: 100%;
}

.loading .caption .image-container h5 {
  color: var(--textColor);
  margin-top: 10px;
}

@-webkit-keyframes links-animation {
  from {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  to {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes links-animation {
  from {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  to {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@-webkit-keyframes title {
  0% {
    content: "|";
  }
  1% {
    content: "";
  }
  2% {
    content: "|";
  }
  3% {
    content: "";
  }
  4% {
    content: "|";
  }
  5% {
    content: "";
  }
  6% {
    content: "|";
  }
  7% {
    content: "";
  }
  8% {
    content: "|";
  }
  9% {
    content: "";
  }
  10% {
    content: "|";
  }
  11% {
    content: "M|";
  }
  12% {
    content: "Mu|";
  }
  13% {
    content: "Muh|";
  }
  14% {
    content: "Muha|";
  }
  15% {
    content: "Muham|";
  }
  16% {
    content: "Muhamm|";
  }
  17% {
    content: "Muhamme|";
  }
  18% {
    content: "Muhammed|";
  }
  19% {
    content: "Muhammed |";
  }
  20% {
    content: "Muhammed A|";
  }
  21% {
    content: "Muhammed Ab|";
  }
  22% {
    content: "Muhammed Abo|";
  }
  23% {
    content: "Muhammed Abo |";
  }
  24% {
    content: "Muhammed Abo L|";
  }
  25% {
    content: "Muhammed Abo Li|";
  }
  26% {
    content: "Muhammed Abo Lil|";
  }
  27% {
    content: "Muhammed Abo Lila|";
  }
  28% {
    content: "Muhammed Abo Lila ";
  }
  29% {
    content: "Muhammed Abo Lila|";
  }
  30% {
    content: "Muhammed Abo Lila ";
  }
  31% {
    content: "Muhammed Abo Lila|";
  }
  32% {
    content: "Muhammed Abo Lila ";
  }
  33% {
    content: "Muhammed Abo Lila|";
  }
  34% {
    content: "Muhammed Abo Lil|";
  }
  35% {
    content: "Muhammed Abo Li|";
  }
  36% {
    content: "Muhammed Abo L|";
  }
  37% {
    content: "Muhammed Abo |";
  }
  38% {
    content: "Muhammed Abo|";
  }
  39% {
    content: "Muhammed Ab|";
  }
  40% {
    content: "Muhammed A|";
  }
  41% {
    content: "Muhammed |";
  }
  42% {
    content: "Muhammed|";
  }
  43% {
    content: "Muhamme|";
  }
  44% {
    content: "Muhamm|";
  }
  45% {
    content: "Muham|";
  }
  46% {
    content: "Muha|";
  }
  47% {
    content: "Muh|";
  }
  48% {
    content: "Mu|";
  }
  49% {
    content: "M|";
  }
  50% {
    content: "|";
  }
  51% {
    content: "";
  }
  52% {
    content: "|";
  }
  53% {
    content: "";
  }
  54% {
    content: "|";
  }
  55% {
    content: "";
  }
  56% {
    content: "|";
  }
  57% {
    content: "F|";
  }
  58% {
    content: "Fr|";
  }
  59% {
    content: "Fro|";
  }
  60% {
    content: "Fron|";
  }
  61% {
    content: "Front|";
  }
  62% {
    content: "Front |";
  }
  63% {
    content: "Front E|";
  }
  64% {
    content: "Front En|";
  }
  65% {
    content: "Front End|";
  }
  66% {
    content: "Front End |";
  }
  67% {
    content: "Front End D|";
  }
  68% {
    content: "Front End De|";
  }
  69% {
    content: "Front End Dev|";
  }
  70% {
    content: "Front End Deve|";
  }
  71% {
    content: "Front End Devel|";
  }
  72% {
    content: "Front End Develo|";
  }
  73% {
    content: "Front End Develop|";
  }
  74% {
    content: "Front End Develope|";
  }
  75% {
    content: "Front End Developer|";
  }
  76% {
    content: "Front End Developer ";
  }
  77% {
    content: "Front End Developer|";
  }
  78% {
    content: "Front End Developer ";
  }
  79% {
    content: "Front End Developer|";
  }
  80% {
    content: "Front End Developer ";
  }
  81% {
    content: "Front End Developer|";
  }
  82% {
    content: "Front End Develope|";
  }
  83% {
    content: "Front End Develop|";
  }
  84% {
    content: "Front End Develo|";
  }
  85% {
    content: "Front End Devel|";
  }
  86% {
    content: "Front End Deve|";
  }
  87% {
    content: "Front End Dev|";
  }
  88% {
    content: "Front End De|";
  }
  89% {
    content: "Front End D|";
  }
  90% {
    content: "Front End |";
  }
  91% {
    content: "Front End|";
  }
  92% {
    content: "Front En|";
  }
  93% {
    content: "Front E|";
  }
  94% {
    content: "Front |";
  }
  95% {
    content: "Front|";
  }
  96% {
    content: "Fron|";
  }
  97% {
    content: "Fro|";
  }
  98% {
    content: "Fr|";
  }
  99% {
    content: "F|";
  }
  100% {
    content: "|";
  }
}

@keyframes title {
  0% {
    content: "|";
  }
  1% {
    content: "";
  }
  2% {
    content: "|";
  }
  3% {
    content: "";
  }
  4% {
    content: "|";
  }
  5% {
    content: "";
  }
  6% {
    content: "|";
  }
  7% {
    content: "";
  }
  8% {
    content: "|";
  }
  9% {
    content: "";
  }
  10% {
    content: "|";
  }
  11% {
    content: "M|";
  }
  12% {
    content: "Mu|";
  }
  13% {
    content: "Muh|";
  }
  14% {
    content: "Muha|";
  }
  15% {
    content: "Muham|";
  }
  16% {
    content: "Muhamm|";
  }
  17% {
    content: "Muhamme|";
  }
  18% {
    content: "Muhammed|";
  }
  19% {
    content: "Muhammed |";
  }
  20% {
    content: "Muhammed A|";
  }
  21% {
    content: "Muhammed Ab|";
  }
  22% {
    content: "Muhammed Abo|";
  }
  23% {
    content: "Muhammed Abo |";
  }
  24% {
    content: "Muhammed Abo L|";
  }
  25% {
    content: "Muhammed Abo Li|";
  }
  26% {
    content: "Muhammed Abo Lil|";
  }
  27% {
    content: "Muhammed Abo Lila|";
  }
  28% {
    content: "Muhammed Abo Lila ";
  }
  29% {
    content: "Muhammed Abo Lila|";
  }
  30% {
    content: "Muhammed Abo Lila ";
  }
  31% {
    content: "Muhammed Abo Lila|";
  }
  32% {
    content: "Muhammed Abo Lila ";
  }
  33% {
    content: "Muhammed Abo Lila|";
  }
  34% {
    content: "Muhammed Abo Lil|";
  }
  35% {
    content: "Muhammed Abo Li|";
  }
  36% {
    content: "Muhammed Abo L|";
  }
  37% {
    content: "Muhammed Abo |";
  }
  38% {
    content: "Muhammed Abo|";
  }
  39% {
    content: "Muhammed Ab|";
  }
  40% {
    content: "Muhammed A|";
  }
  41% {
    content: "Muhammed |";
  }
  42% {
    content: "Muhammed|";
  }
  43% {
    content: "Muhamme|";
  }
  44% {
    content: "Muhamm|";
  }
  45% {
    content: "Muham|";
  }
  46% {
    content: "Muha|";
  }
  47% {
    content: "Muh|";
  }
  48% {
    content: "Mu|";
  }
  49% {
    content: "M|";
  }
  50% {
    content: "|";
  }
  51% {
    content: "";
  }
  52% {
    content: "|";
  }
  53% {
    content: "";
  }
  54% {
    content: "|";
  }
  55% {
    content: "";
  }
  56% {
    content: "|";
  }
  57% {
    content: "F|";
  }
  58% {
    content: "Fr|";
  }
  59% {
    content: "Fro|";
  }
  60% {
    content: "Fron|";
  }
  61% {
    content: "Front|";
  }
  62% {
    content: "Front |";
  }
  63% {
    content: "Front E|";
  }
  64% {
    content: "Front En|";
  }
  65% {
    content: "Front End|";
  }
  66% {
    content: "Front End |";
  }
  67% {
    content: "Front End D|";
  }
  68% {
    content: "Front End De|";
  }
  69% {
    content: "Front End Dev|";
  }
  70% {
    content: "Front End Deve|";
  }
  71% {
    content: "Front End Devel|";
  }
  72% {
    content: "Front End Develo|";
  }
  73% {
    content: "Front End Develop|";
  }
  74% {
    content: "Front End Develope|";
  }
  75% {
    content: "Front End Developer|";
  }
  76% {
    content: "Front End Developer ";
  }
  77% {
    content: "Front End Developer|";
  }
  78% {
    content: "Front End Developer ";
  }
  79% {
    content: "Front End Developer|";
  }
  80% {
    content: "Front End Developer ";
  }
  81% {
    content: "Front End Developer|";
  }
  82% {
    content: "Front End Develope|";
  }
  83% {
    content: "Front End Develop|";
  }
  84% {
    content: "Front End Develo|";
  }
  85% {
    content: "Front End Devel|";
  }
  86% {
    content: "Front End Deve|";
  }
  87% {
    content: "Front End Dev|";
  }
  88% {
    content: "Front End De|";
  }
  89% {
    content: "Front End D|";
  }
  90% {
    content: "Front End |";
  }
  91% {
    content: "Front End|";
  }
  92% {
    content: "Front En|";
  }
  93% {
    content: "Front E|";
  }
  94% {
    content: "Front |";
  }
  95% {
    content: "Front|";
  }
  96% {
    content: "Fron|";
  }
  97% {
    content: "Fro|";
  }
  98% {
    content: "Fr|";
  }
  99% {
    content: "F|";
  }
  100% {
    content: "|";
  }
}

@-webkit-keyframes beforeAnimation {
  0% {
    left: -110%;
  }
  25% {
    left: 0;
  }
  50% {
    left: 110%;
  }
  75% {
    left: 0;
  }
  100% {
    left: -110%;
  }
}

@keyframes beforeAnimation {
  0% {
    left: -110%;
  }
  25% {
    left: 0;
  }
  50% {
    left: 110%;
  }
  75% {
    left: 0;
  }
  100% {
    left: -110%;
  }
}

@-webkit-keyframes afterAnimation {
  0% {
    left: 110%;
  }
  25% {
    left: 0;
  }
  50% {
    left: -110%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 110%;
  }
}

@keyframes afterAnimation {
  0% {
    left: 110%;
  }
  25% {
    left: 0;
  }
  50% {
    left: -110%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 110%;
  }
}

@-webkit-keyframes iconMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes iconMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 450px) {
  .social-links {
    margin-bottom: 30px;
    gap: 20px;
  }
  .social-links li {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .education {
    height: 100%;
    margin: 50px 0px;
  }
  .education .education-content {
    margin: 20px 0px;
  }
  .education .education-content .image {
    height: 350px;
    border-radius: 10px 10px 0px 0px;
  }
  .education .education-content .slick-slider {
    border: 1px solid var(--borderColor);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
  }
  .education .education-content .slick-slider .education-container {
    padding: 0;
  }
  .education .education-content .slick-slider .education-container:before {
    width: 100%;
    height: 1px;
    top: 47%;
    bottom: 47%;
    left: 0;
    right: 0;
  }
  .education .education-content .slick-slider .content {
    padding: 50px 30px !important;
  }
}

@media screen and (max-width: 1200px) {
  .skills .skills-content .personal .one-skill-content li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .skills {
    height: 100%;
    margin: 50px 0px;
  }
  .skills .skills-content {
    margin: 20px 0px;
  }
  .skills .skills-content .one-skill {
    padding: 10px 0px;
    border-top: 1px solid var(--borderColor);
  }
}

@media screen and (max-width: 767px) {
  .skills .skills-content .personal .one-skill-content li {
    margin-left: 10px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 991px) {
  .portfolio {
    height: 100%;
    margin: 50px 0px;
  }
  .portfolio .portfolio-content {
    margin: 20px 0px;
  }
  .portfolio .portfolio-content .caption {
    height: 50vh;
  }
  .portfolio .portfolio-content .caption h2::before {
    width: 100%;
    text-align: start;
  }
  .portfolio .portfolio-content .slick-slider {
    border-top: none;
  }
  .portfolio .portfolio-content .slick-slider .portfolio-container {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .home {
    margin: 50px 0px;
    height: 100%;
  }
  .home .home-content .caption-col {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    margin-top: 20px;
  }
  .home .home-content .caption-col .home-caption {
    height: 95%;
  }
  .home .home-content .image-col {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .home .home-content .image-col .home-image {
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 380px) {
  .home .home-content .home-caption .caption-top span {
    font-size: 1.1rem;
  }
  .home .home-content .home-caption .caption-top h1 {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 991px) {
  .contact-me {
    margin: 50px 0px;
    height: 100%;
  }
  .contact-me .form {
    padding-left: 0;
    margin: 20px 0px;
  }
}

@media screen and (max-width: 350px) {
  .contact-me {
    margin: 50px 0px;
    height: 100%;
  }
  .contact-me .content .caption h3,
  .contact-me .content .caption h4 {
    font-size: 1.6rem;
  }
  .contact-me .content .caption p {
    line-height: 22px;
  }
}

@media screen and (max-width: 991px) {
  .experiences {
    height: 100%;
    margin: 50px 0px;
  }
  .experiences .experiences-content {
    margin: 20px 0px;
  }
  .experiences .experiences-content .image {
    height: 350px;
    border-radius: 10px 10px 0px 0px;
  }
  .experiences .experiences-content .slick-slider {
    border: 1px solid var(--borderColor);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
  }
  .experiences .experiences-content .slick-slider .experiences-container {
    padding: 0;
  }
  .experiences .experiences-content .slick-slider .experiences-container:before {
    width: 100%;
    height: 1px;
    background-color: var(--borderColor);
    position: absolute;
    top: 47%;
    bottom: 47%;
    left: 0;
    right: 0;
  }
  .experiences .experiences-content .slick-slider .content {
    padding: 50px 30px !important;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondBgColor);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */