@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
@media screen and (max-width: 450px) {
  .social-links {
    margin-bottom: 30px;
    gap: 20px;
  }
  .social-links li {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 380px) {
   .home-content .home-caption {
    padding-bottom: 0;
  }
  .home-content .home-caption .caption-top span{
    font-size: 1.1rem;
  }
  .home-content .home-caption .caption-top h1{
    font-size:1.1rem
  }
}
@media (min-width: 768px) {
  .border-style:nth-child(3) {
    @apply border-b-0;
    @apply border-l-0;
  }
}
@media (min-width: 1024px) {
  .border-style:nth-child(3) {
    @apply border-l;
  }
}
.experience-container .experience-image{
  background-image: url("/src/assets/img/profile/3.jpg");
}
.experience-container .slick-slider .slick-arrow{
  display: none !important;
}
.experience-container .slick-slider .slick-dots{
  display: none !important;
}